<?xml version="1.0"?>
<launch>
    <node pkg="jammi" type="client_node.py" name="foo_node" output="screen">
        <param name="name" value="foo"/>
        <param name="host" value="localhost"/>
        <param name="port" value="9000"/>
        <rosparam>
            publishing:
                - /state
            types:
                - geometry_msgs/Point
        </rosparam>
    </node>

    <node pkg="jammi" type="client_node.py" name="bar_node" output="screen">
        <param name="name" value="bar"/>
        <param name="host" value="localhost"/>
        <param name="port" value="9000"/>
        <rosparam>
            publishing:
                - /state
            types:
                - geometry_msgs/Point
        </rosparam>
    </node>

    <node pkg="jammi" type="server_node.py" name="jammi_server" output="screen">
        <param name="host" value="localhost"/>
        <param name="port" value="9000"/>
    </node>

    <node pkg="rostopic" type="rostopic" name="state_pub"
        args="pub -r 100 /state geometry_msgs/Point '{x: 1, y: 1, z: 0}'"/>
</launch>
