<?xml version="1.0"?>
<launch>
    <arg name="host" default="wallar.csail.mit.edu"/>
    <arg name="port" default="8080"/>
    <node pkg="canopy_client" type="client_node.py" name="foo_client_node" output="screen">
        <param name="name" value="foo"/>
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
        <param name="private_key" value="abc" />
        <param name="description" value="foo robot" />
        <rosparam>
            publishing:
                - /filtered_state
            types:
                - geometry_msgs/PointStamped
            trusted:
                - ".*"
        </rosparam>
    </node>

    <node pkg="rostopic" type="rostopic" name="foo_filtered_state_pub"
        args="pub -sr 20 /filtered_state geometry_msgs/PointStamped '{header: {stamp: now, frame_id: base_link}, point: {x: 2.0, y: 1.0, z: 1.0}}'" />
</launch>
