<?xml version="1.0"?>
<launch>
    <arg name="host" default="192.168.1.129" />
    <arg name="port" default="8080"/>

    <node pkg="canopy_client" type="client_node.py" name="canopy_node" output="screen">
        <param name="name" value="$(env CAR_FRAME_ID)"/>
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
        <param name="private_key" value="EjAodXdkTz6RPETFE" />
        <param name="description" value="qux robot" />
        <rosparam>
            publishing:
                - /control
            types:
                - multi_car_msgs/CarControl
            trusted:
                - .*
        </rosparam>

    </node>
</launch>
