<?xml version="1.0"?>
<launch>
    <arg name="host" default="raphaelchang.com" />
    <arg name="port" default="8080"/>
    <node pkg="canopy_client" type="client_node.py" name="foo_client_node" output="screen">
        <param name="name" value="raphael_rcv"/>
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
        <param name="private_key" value="PsFXjmWpszr6acSKL" />
        <param name="description" value="raphael tf test receiver"/>
    </node>
    <node pkg="canopy_client" type="client_node.py" name="qux_client_node" output="screen">
        <param name="name" value="raphael"/>
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
        <param name="private_key" value="PsFXjmWpszr6acSKL" />
        <param name="description" value="raphael tf test" />
        <rosparam>
            publishing:
                - /tf
            types:
                - tf2_msgs/TFMessage
            trusted:
                - ".*"
            global_frames:
                - world
        </rosparam>

    </node>

    <node pkg="tf" type="static_transform_publisher"
        name="tf_test" args="1 1 2 1 0 0 1 world map 100" />
    <!--<node pkg="rostopic" type="rostopic" name="state_pub"
        args="pub -r 100 /tf tf2_msgs/TFMessage '{transforms: [{header : {stamp: {secs: 1457594405, nsecs: 347724387}, frame_id: world, seq: 0}, transform: {translation: {y: 0.0, x: 1.0, z: 2.0}, rotation: {y: 1.0, x: 0.0, z: 0.0, w: 1.0}}, child_frame_id: map}]}'" />-->
</launch>
