<?xml version="1.0"?>
<launch>
    <arg name="host" default="raphaelchang.com" />
    <arg name="port" default="8080"/>
    <node pkg="canopy_client" type="client_node.py" name="client_node" output="screen">
        <param name="name" value="receiver"/>
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
        <param name="private_key" value="PsFXjmWpszr6acSKL" />
        <param name="description" value="tf test receiver"/>
    </node>
</launch>
