<?xml version="1.0"?>
<launch>
    <node pkg="roscloud" type="client_node.py" name="alex_client_node" output="screen">
        <param name="name" value="alex"/>
        <param name="host" value="wallar.me"/>
        <param name="port" value="8080"/>
        <rosparam>
            publishing:
                - /usb_cam/image_raw/compressed
            types:
                - sensor_msgs/CompressedImage
            trusted:
                - raphael
        </rosparam>

    </node>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="320" />
        <param name="image_height" value="240" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>
    <!-- <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen"> -->
    <!--     <remap from="image" to="/qux/usb_cam/image_raw"/> -->
    <!--     <param name="autosize" value="true" /> -->
    <!-- </node> -->

</launch>
